<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Code Hexes Sandbox</title> 

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <script src="../lodash.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="../pixi.min.js"></script> 
    
    <script>
      const H = {};
    </script>
    <script src="util.js"></script>
    <script src="vector.js"></script>
    <script src="hex_math.js"></script>
    <script src="draw.js"></script>
    <script src="input.js"></script>
    <script src="game_map.js"></script>
    <script src="spells.js"></script>
    <script src="level_editor.js"></script>
  </head>
  <body oncontextmenu="return false;">
      <div id="main-cont">
        <div id="level-editor-cont" >
          <div id="level-editor">            
            <div class="panel" :class="{ 'using-instrument': instrument == 'terrain' }" v-on:click="instrument = 'terrain'">
              <div class="header">Brush</div>
              <button class="toggle-btn" :class="{ checked: brush == 'land' }" v-on:click="brush = 'land'">Land</button>
              <button class="toggle-btn" :class="{ checked: brush == 'erase' }" v-on:click="brush = 'erase'">Erase</button>
              <span style="font-size: 10px">Size:</span>              
              <input v-model="brushSize" v-on:input="coerceBrushSize()" style="width: 30px" />
            </div>

            <div class="panel" :class="{ 'using-instrument': instrument == 'runes' }" v-on:click="instrument = 'runes'">
              <div class="header">Runes</div>
              <div class="obj-btn" :class="{ checked: rune == 'none' }" v-on:click="rune = 'none'"><img src='img/eraseRune.png'></div>
              <div class="obj-btn" v-for="rn in runes" :class="{ checked: rune == rn }" v-on:click="rune = rn"><img :src="'img/runes/' + rn + '.png'"/></div>             
            </div>

            <div class="panel" :class="{ 'using-instrument': instrument == 'objs' }" v-on:click="instrument = 'objs'">
              <div class="header">Objects</div>              
              <div class="obj-btn" v-for="(o,i) in objects" :class="{ checked: object == o }" v-on:click="object = o">
                <img :style="{width: 48*objects_frames[i][1] + 'px', height: 48*objects_frames[i][0] + 'px'}" :src="'img/objs/' + o + '.png'"/>
              </div>             
            </div>

            <div class="panel">
              <div class="header">Spell test</div>
              <button v-on:click="testSpellStep()">Step</button>
              <button v-on:click="testSpellReset()">Reset</button>
            </div>

            <div class="panel">
              <div class="header">Map</div>
              <input v-model="mapName" placeholder="map name"/>
              <button v-on:click="doMapNew();">New</button>
              <button v-on:click="doMapSave();">Save</button>
              <button v-on:click="doMapLoad();">Load</button>
              <button v-on:click="doMapDelete();">Delete</button>
            </div>

            <div class="panel">
              <div class="header">Help</div>              
              Hotkeys:<br/>
              1 - increase brush size<br/>
              2 - decrease brush size<br/>
              C - Land brush<br/>
              V - Erase brush<br/><br/>

              Runes:<br/>
              Rotate - Shift<br/>
              Flip - Ctrl<br/>
            </div>
            <!-- Debug -->
            <div>
              Debug<br/>
              Shift: {{ input.shift }}<br/>
              Ctrl: {{ input.ctrl }}<br/>
              Pos: {{ cursorX }}, {{ cursorY }}
            </div>
          </div>
        </div>
        <div id="pixi-screen" tabindex="-1"></div>      
      </div>          

      <script src="sandbox.js"></script>
  </body>
</html>