html, body {
    width: 100%;
    height: 100%;    
    margin:0;
    padding:0;
    font-family: arial;
    font-size:12px;
}

#main-cont {
    margin: 10px; 
    width: 98%; 
    height: 98%; 
    padding: 0; 
    display: flex;
}

#level-editor-cont {
    border: 1px solid gray; 
    width: 400px; 
    margin-right: 10px; 
    height: 100%;
}

#level-editor {
    margin: 5px;
}

#pixi-screen {
    border: 1px solid gray; 
    background: black; 
    flex: 1; 
    height: 100%;
}

.panel {
    border: 1px solid gray;
    padding: 5px;  
    margin-bottom: 5px; 
}

.panel > .header {    
    margin-top: -5px;
    margin-bottom: 3px;
    
    font-size: 12px; 
}

.panel.using-instrument {
    background: rgb(223, 255, 204)
}


.obj-btn {
    width: 48px;
    height: 48px;
    overflow: hidden;
    display: inline-block;
    border: solid 1px white;
    background: black;    
}

.obj-btn > img {
    width: 48px;
    height: 48px;    
    margin: 0px;
    padding: 0px;
}

.obj-btn.checked {
    background: rgb(0, 129, 138);
}

.toggle-btn {
    display: inline-block;
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
}
  
.toggle-btn.checked {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom: solid 2px #eaeaea;
    border-right: solid 2px #eaeaea;
}